<div class="container">
  <form [formGroup]="firstFormGroup"  >
  <mat-card>
    <div class="row">
      <p>Are you related by consanguinity or affinity to any of the following :</p>
    </div>
    <div class="row">
      <p>Within the third degree (for National Government Employees):
        appointing authority, recommending authority, chief of office/bureau/department or person who has immediate supervision over you in the Office, Bureau or Department where you will be appointed?</p>
    </div>
    <div class="row">
      <div class="col">
          <mat-radio-group aria-label="Select an option" formControlName="q1" name="q1">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
      </div>
      <div class="col">
          <mat-form-field class="example-full-width" >
              <input matInput formControlName="q1_yes" name="q1_yes" placeholder="If yes, give details...">
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <p>Within the fourth degree (for Local Government Employees):
          appointing authority or recommending authority where you will be appointed?</p>
    </div>
      <div class="row">
        <div class="col">
            <mat-radio-group aria-label="Select an option" formControlName="q2" name="q2">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width" >
                <input matInput formControlName="q2_yes" name="q2_yes" placeholder="If yes, give details...">
            </mat-form-field>
        </div>
      </div>
      <div class="row">
          <p>Have you ever been formally charged?</p>
        </div>
          <div class="row">
            <div class="col">
                <mat-radio-group aria-label="Select an option" formControlName="q3" name="q3">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width" >
                    <input matInput formControlName="q3_yes" name="q3_yes" placeholder="If yes, give details...">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
              <p>Have you ever been guilty of any administrative offense?</p>
            </div>
              <div class="row">
                <div class="col">
                    <mat-radio-group aria-label="Select an option" formControlName="q4" name="q4">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                      </mat-radio-group>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width" >
                        <input matInput formControlName="q4_yes" name="q4_yes" placeholder="If yes, give details...">
                    </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <p>Have you ever been convicted of any crime or violation of any law, decree, ordinance or regulation by any court or tribunal?</p>
                </div>
                  <div class="row">
                    <div class="col">
                        <mat-radio-group aria-label="Select an option" formControlName="q5" name="q5">
                            <mat-radio-button value="Yes">Yes</mat-radio-button>
                            <mat-radio-button value="No">No</mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width" >
                            <input matInput formControlName="q5_yes" name="q5_yes" placeholder="If yes, give details...">
                        </mat-form-field>
                    </div>
                  </div>
    
    <div class="row">
 <p>
    Have you ever been separated from the service in any of the following modes: resignation, retirement, dropped from the rolls, dismissal, termination, end of term, finished contract, AWOL or phased out, in the public or private sector?
 </p>   
</div>
        <div class="row">
          <div class="col">
              <mat-radio-group aria-label="Select an option" formControlName="q6" name="q6">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
          </div>
          <div class="col">
              <mat-form-field class="example-full-width" >
                  <input matInput formControlName="q6_yes" name="q6_yes" placeholder="If yes, give details...">
              </mat-form-field>
          </div>
        </div>

        <div class="row">
          <p>Have you ever been a candidate in a national or local election (except Barangay election)?</p>
        </div>
            <div class="row">
              <div class="col">
                  <mat-radio-group aria-label="Select an option" formControlName="q7" name="q7">
                      <mat-radio-button value="Yes">Yes</mat-radio-button>
                      <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
              </div>
              <div class="col">
                  <mat-form-field class="example-full-width" >
                      <input matInput formControlName="q7_yes" name="q7_yes" placeholder="If yes, give details...">
                  </mat-form-field>
              </div>
            </div>

            <div class="row">
    <p>Pursuant to: (a) Indigenous People's Act (RA 8371); (b) Magna Carta for Disabled Persons (RA 7277); and (c) Solo Parents Welfare Act of 2000 (RA 8972), please answer the following items:</p>  
    </div>
                <div class="row">
                  <div class="col">
                      <label id="example-radio-group-label">Are you a member of any indigenous group?</label><br>
                      <mat-radio-group aria-label="Are you a member of any indigenous group?" formControlName="q8" name="q8">
                          <mat-radio-button value="Yes">Yes</mat-radio-button>
                          <mat-radio-button value="No">No</mat-radio-button>
                        </mat-radio-group>
                  </div>
                  <div class="col">
                      <mat-form-field class="example-full-width" >
                          <input matInput formControlName="q8_yes" name="q8_yes" placeholder="If yes, give details...">
                      </mat-form-field>
                  </div>
                </div>

          
                    <div class="row">
                      <div class="col">
                          <label id="example-radio-group-label">Are you differently abled?</label><br>
                          <mat-radio-group aria-label="Are you differently abled?" formControlName="q9" name="q9">
                              <mat-radio-button value="Yes">Yes</mat-radio-button>
                              <mat-radio-button value="No">No</mat-radio-button>
                            </mat-radio-group>
                      </div>
                      <div class="col">
                          <mat-form-field class="example-full-width" >
                              <input matInput formControlName="q9_yes" name="q9_yes" placeholder="If yes, give details...">
                          </mat-form-field>
                      </div>
                    </div>

   
              <div class="row">
                <div class="col">
                    <label id="example-radio-group-label">Are you a solo parent?</label><br>
                    <mat-radio-group aria-label="Are you a solo parent?" formControlName="q10" name="q10">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                      </mat-radio-group>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width" >
                        <input matInput formControlName="q10_yes" name="q10_yes" placeholder="If yes, give details...">
                    </mat-form-field>
                </div>
              </div>


  </mat-card>
</form>
  <div>
      <button mat-button matStepperPrevious>Previous</button>
      <button mat-button matStepperNext (click)="savePage4()" >Next</button>
  </div>
</div>